.textConn {
    font-family:Calibri, sans-serif;
    font-size:20px;
    text-align:center;
    color:black;
    padding-top:30px;
}

.textActivation {
    font-family:Calibri, sans-serif;
    font-size:10px;
    text-align:center;
}

.textActivation a {
    text-decoration:none;
}

.formConnexion {
    background-color:#FFFFFF;
    width:500px;
    height:300px;
    margin-top:100px;
    margin-left:500px;
}

.form {
    margin-top:30px;
    padding-left:50px;
}

.LIC {
    font-family:Calibri, sans-serif;
    font-size:25px;
    color:black;
}

#id {
    width:200px;
    height:15px;
    margin-left:51px;
}

#password {
    width:200px;
    height:15px;
    margin-left:20px;
}

.submit {
    font-family: Calibri, sans-serif;
    border-radius:2px;
    margin-top:20px;
    margin-left:150px;
    width:100px;
}


