.Annonce {
    color:white;
    font-size:40px;
    text-align:center;
    font-family:Calibri, sans-serif;
}

.PhrasePrincipale {
    color:green;
    font-size:25px;
    text-align:center;
    font-family:Calibri, sans-serif;
}

.insertionPDF {
    width:900px;
    height:150px;
    margin-left:315px;
    background-color:#3A5BEE;
}

.uploadZone {
    margin-left:335px;
    margin-top:10px;
}

.imgFILE {
    margin-left:400px;
    margin-top:15px;
}