.AP {
    margin-top:50px;
}

.Annonce {
    color:black;
    font-size:24px;
    text-align:center;
    font-family:Calibri, sans-serif;
}

.PhrasePrincipale {
    color:#717171;
    font-size:18px;
    text-align:center;
    font-family:Calibri, sans-serif;
}

.insertionPDF {
    width:900px;
    height:150px;
    margin-left:315px;
    margin-top:70px;
    background-color:#FFFFFF;
}

.uploadZone {
    margin-left:335px;
    margin-top:10px;
}

.imgFILE {
    margin-left:400px;
    margin-top:15px;
}