.Annonce {
    color:black;
    font-size:40px;
    text-align:center;
    font-family:Calibri, sans-serif;
}

.PhrasePrincipale {
    color:midnightblue;
    font-size:25px;
    text-align:center;
    font-family:Calibri, sans-serif;
}

.insertionPDF {
    width:900px;
    height:350px;
    margin-left:315px;
    background-color:#3A5BEE;
}

.uploadZone {
    margin-left:335px;
    margin-top:10px;
}

.imgFILE {
    border: solid blue;
    margin-left: 350px;
    margin-top: 50px;
}