body {
    padding:0;
    margin-left:auto;
    margin-right:auto;
    width:990px;
    margin-top:0px;
}

/****************************************************/
/* HEADER */
/****************************************************/

header {
    background-color:#FFFFFF;
    height:95px;
    position:absolute;
    left:0;
    right:0;
}

.titreSite {
    margin-right:850px;
}

.titreSite a {
    text-decoration:none;
}

.titreSite h1 {
    font-family:Calibri, fantasy;
    font-weight:bold;
    color:black;
    margin-left:30px;
}

.image img {
    width:50px;
    height:50px;
    margin-left:615px;
    margin-top:-65px;
    position:absolute;
}

.image2 {
    width:120px;
    height:75px;
    margin-left:1350px;
    margin-top:-50px;
}

.image2 img {
    width:120px;
    height:75px;
}

nav {
    width:680px;
    margin-left:675px; /* 700 */
    margin-right:240px;
    margin-top:-50px;
}

.liens1 {
    text-decoration:none;
    font-family:Calibri, sans-serif;
    font-size:20px;
    margin-left:30px; /* 50 */
    color:black;
}

/****************************************************/
/* MAIN */
/****************************************************/

main {
    position:absolute;
    left:0;
    right:0;
    margin-top:90px;
    height:502px;
    background-color:#efefef
}

/*ACCEUIL*/

.Bienvenue {
    border:solid;
    color:#005C09;
    font-size:25px;
    font-weight:bold;
    font-family:Calibri, sans-serif;
    padding-bottom:10px;
    padding-top:10px;
    text-align:center;
}


.Consignes {
    text-align:left;
    margin-left:10px;
    font-size:18px;
    font-family:Calibri, sans-serif;
    font-weight:bold;
    color:black;
    padding-left:10px;
    padding-right:10px;
}

.Documents {
    margin-left:20px;
    margin-right:20px;
}

.Des {
    color:#124016;
    font-size:15px;
    font-family:Calibri, sans-serif;
    font-weight:bold;
}

.stage {
    margin-left:900px;
    margin-top:-300px;
}

/*ErreursDesFormulaires*/

.erreur {
    background-color:#FFFFFF;
    width:500px;
    height:300px;
    margin-top:100px;
    margin-left:500px;
}

.msg {
    font-family:Calibri, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    padding-top:120px;
    color:black;
}

.retour {
    font-family:Calibri, sans-serif;
    font-size:15px;
    margin-left:230px;
    color:black;
}

/* retourDeconnexion (dejaConnecté) */

.retourDeconnexionDC {
    font-family:Calibri, sans-serif;
    font-size:15px;
    margin-left:205px;
    color:black;
}

/* ValidationInscriptionOuConnexion */

.validation {
    background-color:#FFFFFF;
    width:500px;
    height:300px;
    margin-top:100px;
    margin-left:500px;
}

.msgValidation {
    font-family:Calibri, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    padding-top:120px;
    color:black;
}

.lienCompte {
    font-family:Calibri, sans-serif;
    font-size:15px;
    margin-left:175px;
    color:black;
}

/* n'est pas connecté */

.msgNestPasConnecte {
    font-family:Calibri, sans-serif;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    padding-top:120px;
    color:black;
}

.retourConnexion {
    font-family:Calibri, sans-serif;
    font-size:15px;
    margin-left:220px;
    color:black;
}

/* ConventionStage */

.AP {
    margin-top:50px;
}

.Annonce {
    color:black;
    font-family:Calibri, sans-serif;
    font-size:24px;
    text-align:center;
}

.PhrasePrincipale {
    color:#717171;
    font-family:Calibri, sans-serif;
    font-size:18px;
    text-align:center;
}

.insertionPDF {
    width:900px;
    height:150px;
    margin-left:315px;
    margin-top:70px;
    background-color:#FFFFFF;
}

.uploadZone {
    margin-left:335px;
    margin-top:10px;
}

.imgFILE {
    margin-left:400px;
    margin-top:15px;
}

/*Deconnexion*/

.deconnexion {
    background-color:#FFFFFF;
    width:500px;
    height:300px;
    margin-top:100px;
    margin-left:500px;
}

.msgDeconnexion {
    font-family:Calibri, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    padding-top:120px;
    color:black;
}

.retourDeconnexion {
    font-family:Calibri, sans-serif;
    font-size:15px;
    margin-left:195px;
    color:black;
}

/* partieAdmin */
.BienvenueAdmin {
    border:solid;
    color:#005C09;
    font-size:25px;
    font-weight:bold;
    font-family:Calibri, sans-serif;
    padding-bottom:10px;
    padding-top:10px;
    text-align:center;
}

.carreAdmin {
    background-color:#FFFFFF;
    width:500px;
    height:300px;
    margin-top:50px;
    margin-left:500px;
}

.lienListeConventionStage {
    font-family:Calibri, sans-serif;
    font-size:24px;
    color:black;
    text-decoration:none;
    margin-left:80px;

}

.liens {
    padding-top:130px;
}

.retourDeconnexion {
    font-family:Calibri, sans-serif;
    font-size:15px;
    margin-top:200px;
    margin-left:200px;
    color:black;
}

/****************************************************/
/* FOOTER */
/****************************************************/

footer {
    background-color:#FFFFFF;
    height:130px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.titreSite1 {
    width:500px;
    height:90px;
}

.titreSite1 h1 {
    font-family: Calibri, fantasy;
    font-weight: bold;
    font-size:25px;
    color:black;
    margin-left:25px;
}

.titreSite1 a {
    text-decoration:none;
}

.titreImage {
    margin-top:15px;
}

.image1 img {
    width:30px;
    height:30px;
    margin-left:480px;
    margin-top:-45px;
    position:absolute;
}

.titreImage {
    margin-top:40px;
    margin-left:15px;
}
.RS {
    margin-top:-85px;
    margin-left:1215px;
}
.imgRS {
    width:50px;
    height:50px;
    margin-left:36px;
}

.Copyright {
    font-size: 12px;
    margin-left:40px;
    margin-top:-35px;
}